.home-container {
  background: url("../../assets/img/jarvis-powered-off.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container-si-logo {
  position: absolute;
  top: 25px;
  left: 25px;
}

.container-power-btn {
  position: fixed;
  bottom: 56px;
  right: 64px;
}

.power-btn {
  color: rgb(232, 232, 232);
  -webkit-animation: animate-button 2000ms infinite;
  animation: animate-button 2000ms infinite;
}

.power-btn:hover {
  cursor: pointer;
  color: rgb(255, 79, 15);
  animation: none;
  filter: drop-shadow(0 0 3px rgb(143, 38, 0));
}

@-webkit-keyframes animate-button {
  0% {
    color: rgb(121, 235, 255);
  }
  100% {
    color: red;
  }
}

@keyframes animate-button {
  0% {
    color: rgb(121, 235, 255);
  }
  100% {
    color: red;
  }
}

@media screen and (max-width: 575px) {
  .home-container {
    background: url("../../assets/img/jarvis-powered-off-m.jpg");
    background-position: center;
    background-size: cover;
  }
  .container-power-btn {
    bottom: 125px;
    left: calc(50% - 31px);
  }
}
