.container-interface {
  height: 100vh;
}

.jarvis-powered-off {
  background: url("/assets/img/jarvis-powered-off.jpg");
  background-position: center;
  background-size: cover;
}

.jarvis-activated {
  background: url("/assets/img/jarvis-activated.jpg");
  background-position: center;
  background-size: cover;
}

.record-btn-container {
  position: fixed;
  bottom: 5rem;
  right: 6rem;
}

.btn-record {
  color: #dedede;
  transition: color 0.3s;
}

.btn-record:hover {
  color: #e94b3e;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .jarvis-powered-off {
    background: url("/assets/img/jarvis-powered-off-m.jpg");
    background-position: center;
    background-size: cover;
  }

  .jarvis-activated {
    background: url("/assets/img/jarvis-activated-m.jpg");
    background-position: center;
    background-size: cover;
  }
  .record-btn-container {
    bottom: 48px;
    left: calc(50% - 23px);
  }
}
