.container-interface {
  height: 100vh;
}

.jarvis-powered-off {
  background: url("../../assets/img/jarvis-powered-off.jpg");
  background-position: center;
  background-size: cover;
}

.record-btn-container {
  position: fixed;
  bottom: 5rem;
  right: 6rem;
}

.btn-record:hover {
  color: #e94b3e;
  cursor: pointer;
}
